
/SIBI-Kinect/obj/x86/Debug/*
/SIBI-Kinect/bin/*
/SIBI-Kinect/obj/*
/SIBI-Kinect/bin/Debug/SIBI-Kinect.pdb
/SIBI-Kinect/bin/Debug/SIBI-Kinect.exe
/SIBI-Kinect/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/SIBI-Kinect/obj/x86/Debug/App.g.cs
/SIBI-Kinect/obj/x86/Debug/MainWindow.g.cs
/SIBI-Kinect/obj/x86/Debug/DesignTimeResolveAssemblyReferences (Ken Danniswara's conflicted copy 2013-03-24).cache
/SIBI-Kinect/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/SIBI-Kinect/obj/x86/Debug/GenerateResource.read.1.tlog
/SIBI-Kinect/obj/x86/Debug/Interop.MLApp.dll
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect_MarkupCompile.i.cache
/SIBI-Kinect/obj/x86/Debug/ResolveAssemblyReference.cache
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect (Ken Danniswara's conflicted copy 2013-03-24).exe
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect (Ken Danniswara's conflicted copy 2013-04-11).exe
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect.csproj.FileListAbsolute (Ken Danniswara's conflicted copy 2013-03-24).txt
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect.csproj.ResolveComReference.cache
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect.g.resources
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect_MarkupCompile (Ken Danniswara's conflicted copy 2013-03-24).cache
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect (Ken Danniswara's conflicted copy 2013-04-11).pdb
/SIBI-Kinect/obj/x86/Debug/App.g.i.cs
/SIBI-Kinect/obj/x86/Debug/DesignTimeResolveAssemblyReferences (Ken Danniswara's conflicted copy 2013-04-11).cache
/SIBI-Kinect/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SIBI-Kinect/obj/x86/Debug/GenerateResource.write.1.tlog
/SIBI-Kinect/obj/x86/Debug/MainWindow.baml
/SIBI-Kinect/obj/x86/Debug/MainWindow.g.i.cs
/SIBI-Kinect/obj/x86/Debug/SIBI_Kinect.Properties.Resources.resources
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect (Ken Danniswara's conflicted copy 2013-03-24).pdb
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect_MarkupCompile.cache
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect.csproj.FileListAbsolute.txt
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect.exe
/SIBI-Kinect/obj/x86/Debug/SIBI-Kinect.pdb
/SIBI-Kinect/bin/Debug/.gitignore
/SIBI-Kinect/bin/Debug/Kinect.Toolbox.dll
/SIBI-Kinect/bin/Debug/MathNet.Numerics.IO.dll
/SIBI-Kinect/bin/Debug/MathNet.Numerics.IO.xml
/SIBI-Kinect/bin/Debug/MathNet.Numerics.xml
/SIBI-Kinect/bin/Debug/SIBI-Kinect.exe.config
/SIBI-Kinect/bin/Debug/SIBI-Kinect.vshost.exe
/SIBI-Kinect/bin/Debug/SIBI-Kinect.vshost.exe.manifest
/SIBI-Kinect/bin/Debug/WriteableBitmapEx.Wpf.pdb
/SIBI-Kinect/bin/Debug/Kinect.Toolbox.dll
/SIBI-Kinect/bin/Debug/MathNet.Numerics.IO.dll
/SIBI-Kinect/bin/Debug/MathNet.Numerics.IO.xml
/SIBI-Kinect/bin/Debug/MathNet.Numerics.xml
/SIBI-Kinect/bin/Debug/SIBI-Kinect.exe.config
/SIBI-Kinect/bin/Debug/SIBI-Kinect.vshost.exe
/SIBI-Kinect/bin/Debug/SIBI-Kinect.vshost.exe.manifest
/SIBI-Kinect/bin/Debug/WriteableBitmapEx.Wpf.pdb
/SIBI-Kinect/bin/Debug/Interop.MLApp.dll
/SIBI-Kinect/bin/Debug/MathNet.Numerics.dll
/SIBI-Kinect/bin/Debug/MathNet.Numerics.IO.pdb
/SIBI-Kinect/bin/Debug/MathNet.Numerics.pdb
/SIBI-Kinect/bin/Debug/SIBI-Kinect.exe
/SIBI-Kinect/bin/Debug/SIBI-Kinect.pdb
/SIBI-Kinect/bin/Debug/SIBI-Kinect.vshost.exe.config
/SIBI-Kinect/bin/Debug/WriteableBitmapEx.Wpf.dll
/SIBI-Kinect/bin/Debug/WriteableBitmapEx.Wpf.xml
/SIBI-Kinect/bin/.gitignore
/SIBI-Kinect/obj/.gitignore